<heroimage out="$ctrl.title"></heroimage>
<div class="container">
  <div>
    <h2>The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h2>
  </div>

  <div>
    <div>

      <div>
        <!-- cada icone com texto-->
        <div>
            <i class="fas fa-utensils"></i>
            <h3>Dine In</h3>
        </div>

        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>

      <div>
          <!-- cada icone com texto-->
        <div>
            <i class="fas fa-crown"></i>
            <h3>Private Celebration</h3>
        </div>
  
        <div>
           <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
         </div>
      </div>

      <div>
            <!-- cada icone com texto-->
        <div>
            <i class="fas fa-church"></i>
            <h3>Wedding Service</h3>
        </div>
    
        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>

      <div>
          <!-- cada icone com texto-->
        <div>
            <i class="fas fa-birthday-cake"></i>
            <h3>Birthday Parties</h3>
        </div>
  
        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
  
      

    </div>

        <div>
            <i class="fas fa-shipping-fast"></i>
            <h3>Delivery</h3>
        </div>

        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>

      <div>
          <!-- cada icone com texto-->
        <div>
            <i class="fas fa-concierge-bell"></i>
            <h3>Cooking Events</h3>
        </div>
  
        <div>
           <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
         </div>
      </div>

      <div>
            <!-- cada icone com texto-->
        <div>
            <i class="fas fa-handshake"></i>
            <h3>Corporate Functions</h3>
        </div>
    
        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>

      <div>
          <!-- cada icone com texto-->
        <div>
            <i class="fas fa-coffee"></i>
            <h3>All Day Breakfast</h3>
        </div>
  
        <div>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
  
    

  </div>
</div>