<heroimage out="$ctrl.title"></heroimage>
<div class="container">
  <div class="">
    <h2>The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h2>
  </div>

  <uib-tabset active="true">
    <uib-tab index="0" heading="Rolls">
      <!-- componente cartela menu com ng-repeat-->

      <cartelamenu></cartelamenu>

      <p>Rolls</p>
    </uib-tab>

    <uib-tab index="1" heading="Sets">
      <!-- componente cartela menu-->
      <p>Sets</p>
    </uib-tab>

    <uib-tab index="2" heading="Sushi">
      <!-- componente cartela menu-->
      <p>Sushi</p>
    </uib-tab>

    <uib-tab index="3" heading="Sashimi">
      <!-- componente cartela menu-->
      <p>Sashimi</p>
    </uib-tab>

    <uib-tab index="4" heading="Sources, ginger, wasabi">
      <!-- componente cartela menu-->
      <p>Sources, ginger, wasabi</p>
    </uib-tab>

  </uib-tabset>

  <div class="">
    <!-- Photo by Jesse Ballantyne on Unsplash -->
    <small>Happy customer Event</small>
    <h2>Discount 50%</h2>
    <p>
      Our focus is to provide Floury desserts and snacks that are nutritious and delicious. Our products always feature as many local, organic ingredients as possible.
    </p>
    <div class="">
      <p>Shop now</p>
    </div>
  </div>
</div>
