<heroimage out="$ctrl.title"></heroimage>

<div class="container">

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Principal xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <!-- -->
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Principal xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="">

    <div class="">
      <img src="" alt="">
    </div>

    <!-- Texto lateral -->
    <div class="">

      <div class="">
        <p>We love bakery as much as you do. That’s why we’ve been helping them fill tables since 1999. Welcome to Floury.</p>
      </div>

      <div class="">
        <h2>Who we are</h2>
        <p>Floury is a big, locally owned and operated bakery in Stroman Wall Apt and Baker Street Apt.</p>
        <p>Since 1999, Floury has been producing its high quality product on the popular. Partners Hilma Maier and Robert McMonigle felt that Burlingame was the perfect location to continue their centuries old trade. We believe that a healthy lifestyle begins with a healthy diet.</p>
        <p>Our focus is to provide Floury desserts and snacks that are nutritious and delicious. Our products always feature as many local, organic ingredients as possible.</p>
      </div>

      <div class="">
        <h2>Why choose us​</h2>
        <p>We are proud to be featuring thet following local ingredients in our bakery.</p>
        <p>ll of our bakery items are made with all-natural ingredients and contain no artificial preservatives, so we recommend that you freeze or refrigerate these baked goods in order to extend the shelf life. We dedicated to helping you stay healthy while still.</p>
        <p>Hopefully we success story will help encourage you on the path to a new, healthy you!</p>
      </div>
    </div>
  </div>


  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Our FunFactor xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <!-- -->
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Our FunFactor xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="">
    <div class="">
      <h2>Our Fun Fact</h2>
      <p>Every Monday, Tuesday and Wednesday, we offer couples and families that order products in our bakery a complimentary box of bagels</p>
    </div>

    <div class="">

      <div class="">
        <i></i>
        <p>Happy Clients</p>
        <span></span>
      </div>

      <div class="">
        <i></i>
        <p>Amazing Dishes</p>
        <span></span>
      </div>

      <div class="">
        <i></i>
        <p>Satisfied Staff</p>
        <span></span>
      </div>

      <div class="">
        <i></i>
        <p>Work Hours</p>
        <span></span>
      </div>

    </div>
  </div>


  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Our FunFactor xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <!-- -->
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Our FunFactor xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="">

    <div class="">
      <h2>Meet Our Team</h2>
      <p>Every Monday, Tuesday and Wednesday, we offer couples and families that order products in our bakery a complimentary box of bagels</p>
    </div>

    <div class="">

      <div class="">
        <img src="" alt="">
        <h3>Crunch Walnut</h3>
        <small>Head Chief</small>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>

      <div class="">
        <img src="" alt="">
        <h3>Crunch Walnut</h3>
        <small>Head Chief</small>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>

      <div class="">
        <img src="" alt="">
        <h3>Crunch Walnut</h3>
        <small>Head Chief</small>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>

    </div>
  </div>



  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Testimonials xxxxxxxxxxxxxxxxxxxxxxxxx -->
  <!-- -->
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Testimonials xxxxxxxxxxxxxxxxxxxxxxxxx -->

  <testimonials></testimonials>
</div>
