<div>
  
  <div>
    <img src="" alt="" srcset="">
  </div>
  
  <div>
    <h2>Cooking Classes for All</h2>
    
    <ul>
      <li> <span> <i class="far fa-clock"></i></span> February 28 - June 1 </li>
    </ul>

    <ul>
      <li> <span> <i class="fas fa-sign"></i></span> Galicia Restaurant, 234th Avenue New York, United States</li>
    </ul>

    <ul>
      <li> <span> <i class="far fa-money-bill-alt"></i></span> $25.00</li>
    </ul>

    <p>
      Food is very important for every person. We must eat proteins, fats and so on. Food can have plant origin or animal origin. The first one consists of fruits and vegetables. Kids love fruits because they are sweet and delicious. But very often children don’t like vegetables, their parents are upset about it.
    </p>

    <button>Read More</button>
  </div>

</div>
