<heroimage out="$ctrl.title"></heroimage>
<div>
  <h2>The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h2>
</div>

<uib-tabset active="true">
  <uib-tab index="0" heading="Rolls">
    <lightbox></lightbox>

  </uib-tab>

  <!--
    Photo by Tae In Kim on Unsplash
    Photo by Adam Jaime on Unsplash
    Photo by rawpixel on Unsplash
    Photo by Charles Koh on Unsplash
    Photo by Christine Siracusa on Unsplash
    Photo by Marie-France Latour on Unsplash
    Photo by Benjamin Sow on Unsplash
  -->

  <uib-tab index="1" heading="Sets">

    <lightbox></lightbox>
  </uib-tab>

  <uib-tab index="2" heading="Sushi">

    <lightbox></lightbox>
  </uib-tab>

  <uib-tab index="3" heading="Sashimi">

    <lightbox></lightbox>
  </uib-tab>

  <uib-tab index="4" heading="Sources, ginger, wasabi">

    <lightbox></lightbox>
  </uib-tab>

</uib-tabset>
