<h3>Isto é um testimonials</h3>

<div class="container">
  <h2>Testimonials</h2>
  <div uib-carousel active="active" interval="$ctrl.myInterval">
    <div uib-slide ng-repeat="slide in $ctrl.slides track by $index" index="$index">
      <!-- Talvez substitua tudo isso por uma imagem -->
      <!-- Irei construí-la hoje mesmo -->
      <div class="">
        <img src="" alt="">
        <p>{{slide.testimonial}}</p>
        <div class="">
          <img src="" alt="">
          <h3>{{slide.name}}</h3>
          <small>{{slide.corporation}}</small>
        </div>
      </div>
    </div>
  </div>

</div>
